.pokedex__frame__left {
    height: 100%;
    width: 49%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.frame-left {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}